@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&subset=cyrillic-ext);

$fontfamily: "PT Sans";
$minwidth: 320px;
$mw: 970;
$md1: $mw + 12;
// $md2: 979;
$md2: 767.98;
$md3: 767.98;
$md4: 539.98;

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts.scss";
@import "null.scss";
@import "ui.scss";

body {
  &.lock {
    overflow: hidden;
    @media (max-width: $md3+px) {
      width: 100%;
      // position: fixed;
    }
  }
}
.wrapper {
  @include flexbox();
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  &.loaded {
  }
}
._container {
  max-width: $mw + px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

@import "header.scss";

// Основной блок
.page {
}

.main-slider {
  // .main-slider__body
  &__body {
  }

  // .main-slider__item
  &__item {
  }

  // .main-slider__control
  &__control {
  }
}

.item-main-slider {
  padding: 30px 0 100px;
  position: relative;
  // .item-main-slider__content
  &__content {
    position: relative;
    z-index: 2;
  }

  // .item-main-slider__container
  &__container {
  }

  // .item-main-slider__text
  &__text {
    margin: 25px auto 65px;
    max-width: 692px;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 15px;
    line-height: 25px;
  }

  //.item-main-slider__btn
  &__btn {
  }

  // .item-main-slider__bg
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 0 -50px !important;
  }
}
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================
// =============================================================

// Конец основного блока
@import "footer.scss";
//
._ibg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img {
    display: none;
  }
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 0 !important;
  width: 100%;
  // border: 1px solid #ffffff;
  // height: 48px;

  display: block;
  &:focus {
  }
  &.err {
    //
    border-color: red;
    //
  }
}
textarea.input {
  resize: none;
  overflow: auto;
  // height: 151px;
}
.btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0px 33px;
  font-size: 19px;
  // font-family: Arial;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: black;
  color: white !important;
  &--w {
    background-color: white;
    color: black !important;
  }
}

// Slick Slider start
.slick-slider {
  position: relative;
  .slick-track,
  .slick-list {
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    @include flexbox();
    align-items: flex-start;
  }
  .slick-slide {
  }
  .slick-dots {
    // padding: 110px 0 0 0;
    padding: 10px 0 0 0;
    @media (max-width: $md1+px) {
      // padding: 80px 0 0 0;
      padding: 0;
    }
    @media (max-width: $md2+px) {
      // padding: 40px 0 0 0;
    }
    @include flexbox();
    justify-content: center;
    align-items: center;
    li {
      margin: 0 9px;
      button {
        font-size: 0;
        width: 11px;
        height: 11px;
        border: 1px solid #222;
        border-radius: 50%;
        background-color: transparent;
        @media (max-width: $md4+px) {
          width: 9px;
          height: 9px;
        }
      }
      &.slick-active {
        button {
          background-color: #222;
        }
      }
    }
  }
}
// Slick Slider end
